.animal-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animal-tile {
  border: 1px solid #333;
  padding: 16px;
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 32px;
  margin-bottom: 32px;
}

.animal-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 4px;
}

.secondary-btn {
  background-color:red;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 8px 0;

}